<div class="container">
  <div class="row">
    <div class="mx-auto">
      <h2>本当に退会しますか？</h2>

      <p>退会すると、会員登録情報や</p>
      <p>これまでの購入履歴が閲覧できなくなります。</p>
      <p>退会する場合は、「退会する」をクリックしてください。</p>

      <%= link_to "退会しない", customer_path(current_customer), class:"btn btn-primary px-3" %>
      <%= link_to "退会する", withdraw_path, method: :patch, data: { confirm: "本当に退会しますか？" }, class:"btn btn-danger px-3" %>
    </div>
  </div>
</div>